
/* Stylesheet for Index Page */

body{
    margin: 0;
    font-family: arial, sans-serif;
}
#logo {
    margin-top: 180px;
}
.searchbar {
    width: 50%;
    border-radius: 30px;
    border: 1px solid lightgray;
    height: 45px;
    outline: none;
    font-size: 18px;
    margin: 40px;
    padding-left: 25px;
}
.searchbar:hover {
    box-shadow: 1px 1px 8px 1px lightgray;
}

.buttons{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:16px;
    padding: 10px 20px;
    border-radius:6px;
    outline: none;
}
.buttons:hover{
    border: 1px solid lightgray;
}

/* Stylesheet for advanced Search Page */

.link_appbar {
    text-decoration: none;
    color:black ;
    float: right ;
    font-size: 18px;
    padding-right: 40px
}
.link_appbar:hover {
    text-decoration: underline;
}

.googimg {

    margin: 15px;
    width: 105px;
    height: 35px;
}
.googbar {
    height:70px;
    background:#f1f1f1;
    border:1px solid lightgrey
}
.appbar {
    padding-left :50px;
    padding-bottom: 15px;
    color: #d93025;
    font-size: x-large;
    margin-top: 30px;
    border-bottom:1px solid lightgrey;
}

.advform {
    background: white;
    padding: 50px;
    width: 50%;
    max-width: calc(100% - 60px);
}
.form-element{
    display: flex;
    margin-bottom: 10px;
}
.textinput{
    height: 35px;
    width: 75%;
    font-size: large;
}
.textinput:focus {
    outline:none;
    border: 1px ;
    box-shadow:0 0 3px blue;
}
.form-element span{
    width: 30%;
    height: 35px;
    padding-top: 10px;
}
.subSearch{
    float: right;
    padding: 5px;
    font-size: large
}

@media (max-width: 599px) {

    #logimg {
        width: 50%;
    }
    .searchbar {
        width: 70%;
    }
    #searchbody {
        background: indigo;
    }
    #logo {
        margin-top: 120px;
    }
    .buttons{
        font-size:14px;
        padding: 5px 12px;
        border-radius:6px;
    }
    .searchhead a {
        color: white;
        font-size: large;
    }
    .spanCol {
        color: white;
        font-size: 16px;
    }

    /* Multimedia Stylesheet for advanced Search Page */
    .appbar {
        padding-left :30px;
        padding-bottom: 5px;
        color: #d93025;
        font-size: large;
        margin-top: 20px;
        border-bottom:1px solid lightgrey;
    }

    .advform {
        padding: 30px;

    }

    .form-element{
        display: flex;
        flex-direction: column;
        margin-bottom: 1px;
    }
    .textinput{
        height: 30px;
        width: 100%;
        padding-right: 50px;

    }

    .form-element span{
        width: 100%;
        height: 20px;

    }
    .subSearch{
        float: right;
        padding: 5px;
        margin: 20px;
    }
}




